---
import Cta from '@/components/cta.astro';
import Container from '@/layouts/Container.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title='Welcome to 89 Innovations'
  description='89 Innovations is a software development agency that specializes in web development, SEO, and PPC.'
>
  <Container>
    <main>
      <h1 class='font-heading font-semibold text-4xl tracking-tight'>
        This is a starter template for Astro
      </h1>
    </main>
  </Container>
  <Cta />
</Layout>
